html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: lightblue;
}
.cast_img {
  display: flex;
  max-width: 700px;
  max-height: 600px;
}

/* Navigation Bar Styling  */

nav ul {
  text-align: center;
  margin: 0px;
  padding-bottom: 30px;
}

nav a:link{
  text-decoration: none;
  color: black;
  font-size: larger;
}
nav a:visited{
  text-decoration: none;
  color: black;
  font-size: larger;
}

nav li {
  display: inline;
}


/* Friends section  */

.friends_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.friend {
  max-width: 200px;
  max-height: 400px;
  overflow: hidden;
}

.friend img {
  width: 100%;
  height: auto;
}


/* Main content */

main {
  display: flex;
}

.main_content {
  flex: 3;
}

aside {
  flex: 1;
}

.main_content img {
  width: 100%;
}
footer {
  text-align: center;
}